fieldset { 
	border: 1px solid black;
	background-color: powderblue;
	text-align: center;
	font-size: 18px;
	width: 20em;
	height: 5.5em;
	margin-bottom: 0;
	padding-bottom: 0;
	bottom: 0.3em;
	position: absolute;
}

.fieldgroup {
	float: left;
	width: auto;
	margin-left: 1.5em;
}

.pojemnik {
	height: 7em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

html, body {
  height: 100%;
  background-color: #f7e2cd;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  width: 4em;
  text-align: center;
  background-color: white;
}

td:first-child {
  background-color: #885a6940;
}

th:first-child {
  background-color: yellow;
}

th {
  background-color: #cce7ff;
}

.start {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 35em;
  height: 36em;
  padding: 10px;
}

#tabela {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.przycisk {
  margin: 2em;
}

.btn.btn-square {
  border-radius: 0;
}

td:first-child {
  font-weight: bold
}